<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Notification - TicketingWatchKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>TicketingApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>TicketingWatchKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7701D1631C79A3DD007144EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>77A416F61C780A4D0017B6BD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>77A417121C780A4D0017B6BD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>77A4171D1C780A4D0017B6BD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
